<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>

</head>

<body>
    <section id="details">
        <h2 id="head">REGISTER YOURSELF</h2>
        <form id="fm" action="index.php">
            <div id="form">
                <input type="text" placeholder="NAME">
                <input type="text" placeholder="EMAIL">
                <input type="text" placeholder="PHONE">
                <input type="text" placeholder="G-DRIVE LINK TO RESUME">
                <input type="text" placeholder="DOMAIN">
                <button type="submit">REGISTER</button>

            </div>




        </form>
    </section>
</body>

</html>